@charset "UTF-8";

.aaa
{
    flex: 3;
    background: #8FBFFF;
}

.aab
{
    background: #FF8F8F;
}

.bbb
{
    font-size: 50%;
}

.header
{
    background-color: #8FBFFF;
    text-align: center;
}

.headertext
{
    font-size: 50%;
}

.a,a:hover,a:visited{
    color: inherit;
    text-decoration: none;
}

.mamama
{
    background: #8fffbf;
    margin: 3%;
}

.sasasa
{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.f1
{
    flex: 2;
    background: #FF8F8F;
}

.magdis
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 2px dotted #8FBFFF;
}

.magdis li
{
    width: 100px;
    height: 75px;
    background-color: #AFCFFF;
    padding: 10px;
    margin: 20px;
}

.main
{
    margin: 10px;
}
/*
.main h2
{
    
}
*/
.row
{
    display: flex;
    flex-wrap: wrap;
}

.rowpct
{
    flex: 2;
}

.rowoth
{
    flex: 3;
}